html{
    overflow-x: hidden !important;
}
.nouveau-document .form-horizontal{
    margin-bottom: 16px;
}
b{
    font-weight: 900;
}
.messagebar-controls{
    height: 30px;
}
.profile-picture{
    width: 100%;
}
.nav-utilisateur-photo{
    max-height: 39px;
    border-radius: 40px;
}
.contact-img{
    height: 55px;
    width: 55px;
    border-radius: 50px;
}

.people-list {
    width: 100%;
    float: left;
}

.people-list .search {
    padding: 15px;
}

.people-list input {
    border-radius: 3px;
    border: 1px solid #b5b5b5;
    padding: 14px;
    color: white;
    /*background: #6A6C75;*/
    width: 90%;
    font-size: 14px;
}

.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    list-style: none;
    padding: 20px;
}

.people-list ul li {
    padding-bottom: 20px;
}

.people-list img {
    float: left;
}

.people-list .about {
    float: left;
    margin-top: 8px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.chat {
    width: 100%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat .chat-header {
    padding: 20px;
    border-bottom: 2px solid white;
}

.chat .chat-header img {
    float: left;
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}

.chat .chat-header .chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat .chat-header .chat-num-messages {
    color: #92959E;
}

.chat .chat-header .fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat .chat-history {

    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}

.chat .chat-history ul {
    list-style: none;
}

.chat .chat-history .message-data {
    margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.chat .chat-history .message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 10px;
    margin-left: -10px;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .other-message {
    background: #94C2ED;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chat .chat-message {
    padding: 30px;
}

.chat .chat-message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}

.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat .chat-message button {
    float: right;
    color: #94C2ED;
    border: none;
    cursor: pointer;
    background: #F2F5F8;
}

.chat .chat-message button:hover {
    color: #75b1e8;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.people-list .contact-row{
    padding: 10px;
}
.people-list .contact-row:hover{
    cursor: pointer;
    background-color: #b5b5b5;
}
.people-list{
    border-right: 1px solid#e2e5e8;
}
.people-list .search{
    border-bottom: 1px solid#e2e5e8;
}

h2 .favoris {
    font-size: 25px;
    cursor: pointer;
}

#document-text {
    width: 99%;
}

/**
test begin
 */
.chat-col.col-md-2, .chat-col.col-md-10 {
    padding: 0;
}

.chat-panel.panel {
    margin-bottom: 0px;
}

.chat-window {
    float: right;
    margin-left: 10px;
}

.chat-window > div > .panel {
    border-radius: 5px 5px 0 0;
}

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    height: 300px;
    overflow-x: hidden;
}

.chat-top-bar.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_receive {
    padding-left: 0;
    margin-left: 0;
}

.msg_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}

.messages > time {
    font-size: 11px;
    color: #ccc;
}

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

img.chat-img {
    display: block;
    width: 100%;
}

.chat-avatar.avatar {
    position: relative;
}

.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
/ / not quite perfect but close
}

.msg_sent > time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.btn-group.dropup {
    position: fixed;
    left: 0px;
    bottom: 0;
}

.chat-window {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 10px;
}

.img-chat {
    height: 50px;
    width: 50px;
}

h3.panel-title span {
    margin-right: 15px;
}

.chat-sidebar {
    position: fixed;
    right: 0;
    width: 22%;
}

.chat-sidebar ul.list {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-users a {
    margin-right: 10px;
}

.timeline-item.well {
    padding-left: 0;
    padding-top: 10px;
}