<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <welcome-file-list>
    <welcome-file>index</welcome-file>

  </welcome-file-list>
  <servlet>
    <servlet-name>Init</servlet-name>
    <servlet-class>fr.fileshare.controller.Init</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Init</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>ConnexionInscription</servlet-name>
    <servlet-class>fr.fileshare.controller.ConnexionInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionInscription</servlet-name>
    <url-pattern>/connexion</url-pattern>
    <url-pattern>/deconnexion</url-pattern>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>VerificationEmail</servlet-name>
    <servlet-class>fr.fileshare.controller.VerificationEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationEmail</servlet-name>
    <url-pattern>/verification-email</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>RecuperationMdp</servlet-name>
    <servlet-class>fr.fileshare.controller.RecuperationMdp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecuperationMdp</servlet-name>
    <url-pattern>/recuperation-mot-de-passe</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>NouveauDocument</servlet-name>
    <servlet-class>fr.fileshare.controller.NouveauDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NouveauDocument</servlet-name>
    <url-pattern>/nouveau-document</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>ModifierDocument</servlet-name>
    <servlet-class>fr.fileshare.controller.ModifierDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierDocument</servlet-name>
    <url-pattern>/modifier-document</url-pattern>
  </servlet-mapping>
  <!-- -->
  <servlet>
    <servlet-name>MesDocuments</servlet-name>
    <servlet-class>fr.fileshare.controller.MesDocuments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MesDocuments</servlet-name>
    <url-pattern>/mes-documents</url-pattern>
    <url-pattern>/documents-partages</url-pattern>
  </servlet-mapping>

  <!-- -->
  <servlet>
    <servlet-name>TelechargerDocument</servlet-name>
    <servlet-class>fr.fileshare.controller.TelechargerDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelechargerDocument</servlet-name>
    <url-pattern>/telecharger-document</url-pattern>
  </servlet-mapping>
  <!--  -->
  <servlet>
    <servlet-name>Messages</servlet-name>
    <servlet-class>fr.fileshare.controller.Messages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Messages</servlet-name>
    <url-pattern>/messages</url-pattern>
    <url-pattern>/afficher-messages</url-pattern>
    <url-pattern>/envoyer-messages</url-pattern>
    <url-pattern>/afficher-messages-socket</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profil</servlet-name>
    <servlet-class>fr.fileshare.controller.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil/*</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <error-code>404</error-code>
    <location>/views/erreur404.jsp</location>
  </error-page>
</web-app>